<ol id="list">
  <% @user.workouts.each do |workout| %>
    <li><a href="/workout/<%= workout.name %>"><%= workout.name %></a><%= workout.category %><%= workout.description %></li>
  <% end %>
</ol>

<form id="new" action="/<%= @user.name %>" method="POST">
  Add Workout:<br>
  <input name="workout[name]" type="text"><br>
  <input type="submit" value="Add">
</form>

<h4>Let the Gym Gods Decide:</h4>
<form id="random_workout_generator" action="/<%= @user.name %>" method="POST">
  Name:<br>
  <input name="title" type="text"><br>
  Type:<br>
  <input name="type" type="text"><br>
  Sets:</br>
  <input name="times" type="text"><br>
  <input type="submit" value="Create">
</form>
