<%= @exercise.name %><br>
<%= @exercise.category %><br>
<%= @exercise.description %><br>


  <form action="/exercise/<%= @exercise.name %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
  </form>


Workouts Found In:
<ol>
  <% @exercise.workouts.each do |workout| %>
    </li><%= workout.name %><br>
    <%= workout.description %></li>
  <% end %>
</ol>
